@using Entitylayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hizmetler Listesi</h1>
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Başlık</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>

        </tr>

    }
</table>

